@media (min-width: 600px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr) 60px;
    gap: 15px;
  }

  .article {
    &-1 {
      grid-column: 1/3;
      grid-row: 1/3;
    }

    &-2 {
      grid-column: 2;
      grid-row: 3;
    }

    &-3 {
      grid-column: 2;
      grid-row: 4;
    }

    &-4 {
      grid-column: 1/3;
      grid-row: 5/7;
    }

    &-banner {
      grid-column: 1;
      grid-row: 3/5;
    }
  }

  footer {
    height: 100px;

    & .copyright {
      font-size: 16px;
    }

    & .logo-footer {
      height: 50px;
      width: 70px;
    }
  }

  .social {
    height: 60px;
    grid-column: 1/3;
    grid-row: 7;

    &-container {
      gap: 30px;

      & svg {
        height: 30px;
        width: 30px;
      }
    }
  }
}

@media (min-width: 850px) {
  header {
    height: 150px;
  }

  main {
    margin-top: 150px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr) 60px;
  }

  .article {
    &-1 {
      grid-column: 1/3;
      grid-row: 1/3;
    }

    &-2 {
      grid-column: 1;
      grid-row: 3;
    }

    &-3 {
      grid-column: 1;
      grid-row: 4;
    }

    &-4 {
      grid-column: 2/4;
      grid-row: 3/5;
    }

    &-banner {
      grid-column: 3/4;
      grid-row: 1/3;
    }
  }

  footer {
    height: 100px;

    & .logo-footer {
      height: 60px;
      width: 80px;
    }
  }

  .social {
    height: 60px;
    grid-column: 1/4;
    grid-row: 5;
    &-container {
      gap: 30px;

      & svg {
        height: 30px;
        width: 30px;
      }
    }
  }

  article {
    & a {
      gap: 20px;
      padding-left: 30px;
      padding-right: 80px;

      & h2 {
        font-size: 20px;
      }
    }
  }
}

@media (min-width: 1150px) {
  header {
    .header-container {
      max-width: 1110px;
    }
  }

  main {
    grid-template-columns: 1fr 350px 350px 350px 1fr;
    grid-template-rows: repeat(4, 1fr);
    // max-width: 1150px;
    place-self: center;
    margin-bottom: 100px;
  }

  .article {
    &-1 {
      grid-column: 2/4;
      grid-row: 1/3;
    }

    &-2 {
      grid-column: 2;
      grid-row: 3;
    }

    &-3 {
      grid-column: 2;
      grid-row: 4;
    }

    &-4 {
      grid-column: 3/5;
      grid-row: 3/5;
    }

    &-banner {
      grid-column: 4/5;
      grid-row: 1/3;
    }
  }

  footer {
    height: 100px;
    & .footer-container {
      max-width: 1110px;
    }

    & .logo-footer {
      height: 60px;
      width: 80px;
    }
  }

  .social {
    position: sticky;
    top: 20px;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;

    height: 240px;
    width: 50px;
    &-container {
      grid-auto-flow: column;
      gap: 30px;
      grid-template-columns: 1;
      grid-template-rows: repeat(4, 1fr);

      & svg {
        height: 30px;
        width: 30px;
      }
    }
  }

  article {
    & a {
      gap: 20px;
      padding-left: 30px;
      padding-right: 80px;

      & h2 {
        font-size: 20px;
      }
    }
  }
}
